<h6>{% if include.lang == "de" %}Kontakt{% else %}Contact{% endif %}</h6>
          <a href="mailto:contact@sigmund.lu"><i class="bi bi-envelope me-2"></i>contact@sigmund.lu</a>
          <a href="tel:+352621223881"><i class="bi bi-telephone me-2"></i>+352&nbsp;621&nbsp;223&nbsp;881</a>
          <a href="tel:+352621641447"><i class="bi bi-telephone me-2"></i>+352&nbsp;621&nbsp;641&nbsp;447</a>
          <a href="https://maps.app.goo.gl/HJKtFqZwnAyrUAAv7" target="_blank" rel="noopener"><i class="bi bi-geo-alt me-2"></i>11 rue des Aubépines L-8052 Bertrange</a>
          <a href="https://lu.linkedin.com/company/hippocrate-sarl" target="_blank" rel="noopener"><i class="bi bi-linkedin me-2"></i>LinkedIn</a>
          <a href="https://www.facebook.com/sigmund.luxembourg/" target="_blank" rel="noopener"><i class="bi bi-facebook me-2"></i>Facebook</a>
          <a href="https://www.instagram.com/sigmund_lux/" target="_blank" rel="noopener"><i class="bi bi-instagram me-2"></i>Instagram</a>
          <a href="https://qwice.com/User/Yi6dUWxd_RG3dd" target="_blank" rel="noopener"><i class="bi bi-globe2 me-2"></i>Qwice</a>