<!-- Google Tag Manager default configuration -->
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){ dataLayer.push(arguments); }
gtag('consent', 'default', {
  ad_storage:              'denied',
  ad_user_data:            'denied',
  ad_personalization:      'denied',
  analytics_storage:       'denied',
  functionality_storage:   'denied',
  personalization_storage: 'denied',
  security_storage:        'granted',
  wait_for_update: 500
});
</script>

<!-- CookieConsent stylesheet -->
<link rel="stylesheet" href="/assets/css/cookieconsent.css">

<!-- CookieConsent Sigmund stylesheet -->
<link rel="stylesheet" href="/assets/css/cookieconsent-sigmund.css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TZPN6B4R');</script>
